<section id="proyectos">

    <section class="proyectos-container">
        <div>
            <h2>Nuentros Proyectos</h2>
        </div>
        <div>
            <form>
                <input type="text" placeholder=" filter">
                <button class="primary" type="button">Buscar</button>
            </form>
        </div>
        <div class="proyectos-grid">
            <app-projects-details 
                *ngFor="let proyectosList of proyectosList"
                [proyectosList]="proyectosList"
        
            ></app-projects-details>
        </div>

    </section>
</section>
