<section id="nosotros">
  <h1>Nosotros</h1>
  <p>Esta es la sección de nosotros. Conoce a nuestro equipo.</p>
  <div class="members-container">
    <div class="member">
      <img src="https://media.v2.siweb.es/uploaded_thumb_big/75ced0231b30d5bbba39592fef39e64d/fotografia_curriculum_foto_linkedin_corporativa_madrid_230.jpg" alt="Gabriel" class="member-img">
      <h2>Gabriel</h2>
      <p>Breve descripción de Gabriel...</p>
      <a routerLink="/Gabriel" target="_blank">Ver más</a>
    </div>
    <div class="member">
      <img src="assets/img/smith.jpg" alt="Smith" class="member-img">
      <h2>Smith</h2>
      <p>Breve descripción de Smith...</p>
      <a routerLink="/Smith" target="_blank">Ver más</a>
    </div>
    <div class="member">
      <img src="assets/img/gorka.jpg" alt="Gorka" class="member-img">
      <h2>Gorka</h2>
      <p>Breve descripción de Gorka...</p>
      <a routerLink="/Gorka" target="_blank">Ver más </a>
    </div>
  </div>
</section>
