<!-- inicio.component.html -->
 <section id="inicio">
 
  <section class="hero-section">
      <div class="hero-content">
        <h1>Bienvenido a DEVSOFTTEAM</h1>
        <p class="hero-description">
          Somos expertos en desarrollo web,movil,aplicaciones de analisis de datos e AI.
        </p>
        <a href="#proyectos" class="cta-button">Ver nuestros proyectos</a>
      </div>
    </section>
    
    <section class="features-section">
      <h2>¿En que estamos enfocado?</h2>
      <div class="features-grid">
        <div class="feature-card">
          <i class="fas fa-lightbulb"></i>
          <h3>desarrollo WEB</h3>
          <p>Utilizamos las últimas tecnologías para ofrecer soluciones vanguardistas.</p>
        </div>
        <div class="feature-card">
          <i class="fas fa-users"></i>
          <h3>desarrollo movil </h3>
          <p> dashboard etc.</p>
        </div>
        <div class="feature-card">
          <i class="fas fa-rocket"></i>
          <h3>AI</h3>
          <p>Analisi predictivossss.</p>
        </div>
      </div>
    </section>
    <app-projects></app-projects>
    <app-us></app-us>

  
</section>